{% extends 'base.html.twig' %}

{% block title %}MakeComment{% endblock %}

{% block body %}
    <h1>MakeComment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ make_comment.id }}</td>
            </tr>
            <tr>
                <th>MakeComment</th>
                <td>{{ make_comment.MakeComment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_make_comment_index') }}">back to list</a>

    <a href="{{ path('app_make_comment_edit', {'id': make_comment.id}) }}">edit</a>

    {{ include('make_comment/_delete_form.html.twig') }}
{% endblock %}
