{% extends 'base.html.twig' %}

{% block title %}PurchaseDetails{% endblock %}

{% block body %}
    <h1>PurchaseDetails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ purchase_detail.id }}</td>
            </tr>
            <tr>
                <th>ProductName</th>
                <td>{{ purchase_detail.productName }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ purchase_detail.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ purchase_detail.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_purchase_details_index') }}">back to list</a>

    <a href="{{ path('app_purchase_details_edit', {'id': purchase_detail.id}) }}">edit</a>

    {{ include('purchase_details/_delete_form.html.twig') }}
{% endblock %}
