{% extends 'base.html.twig' %}

{% block title %}Listing{% endblock %}

{% block body %}
    <h1>Listing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ listing.id }}</td>
            </tr>
            <tr>
                <th>StillAvailable</th>
                <td>{{ listing.stillAvailable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>MinPrice</th>
                <td>{{ listing.minPrice }}</td>
            </tr>
            <tr>
                <th>SetDate</th>
                <td>{{ listing.setDate }}</td>
            </tr>
            <tr>
                <th>SetTime</th>
                <td>{{ listing.setTime }}</td>
            </tr>
            <tr>
                <th>TimeLimit</th>
                <td>{{ listing.timeLimit }}</td>
            </tr>
            <tr>
                <th>MinimumBid</th>
                <td>{{ listing.minimumBid }}</td>
            </tr>
            <tr>
                <th>ListingDeleted</th>
                <td>{{ listing.listingDeleted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_listing_index') }}">back to list</a>

    <a href="{{ path('app_listing_edit', {'id': listing.id}) }}">edit</a>

    {{ include('listing/_delete_form.html.twig') }}
{% endblock %}
