{% extends 'base.html.twig' %}

{% block title %}ShippingDetails{% endblock %}

{% block body %}
    <h1>ShippingDetails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shipping_detail.id }}</td>
            </tr>
            <tr>
                <th>ProductName</th>
                <td>{{ shipping_detail.productName }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ shipping_detail.price }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ shipping_detail.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_shipping_details_index') }}">back to list</a>

    <a href="{{ path('app_shipping_details_edit', {'id': shipping_detail.id}) }}">edit</a>

    {{ include('shipping_details/_delete_form.html.twig') }}
{% endblock %}
